

@font-face {
  font-family: 'ShootingStar';
  src: url('../assets/ShootingStar.ttf') format('truetype');
}


.toptext {
  text-align: center;
  margin-top: 2rem;
  color: #5e503f;
  font-size: 4rem;
  font-family:'ShootingStar';
  
}
