.calendar {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: min-content;
  gap: 2px;
  padding: 0px;
  position: absolute; 
  top: 32%;
  left: 23%;

  /* nic */
  transform: scale(0.9);
  transform-origin: center;
 
}