.topnavbar {
    height: 4.6875rem;
    background: light-dark(#5E503F, #292929);
    display: flex;
    padding: 0 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: 1px solid light-dark(#ddd, #292929);
    box-sizing: border-box;
}


.topnavbar h1 {
    margin: 0;
    font-size: 2rem;
    flex-shrink: 5;
    color: white;
}


#button {
    display: flex;
    gap: 0.75rem;
}



@media (max-width: 600px) {
    .topnavbar {
        flex-direction: column;
        height: auto;
        padding: 1rem;
        gap: 0.5rem;
        align-items: flex-start;
    }

    #button {
        width: 100%;
        justify-content: flex-end;
    }

    h1 {
        font-size: 1.5rem;
    }

    #button button {
        font-size: 0.9rem;
        padding: 0.3rem 0.8rem;
    }
}