.topnavbar{

    height: 75px;
    background: light-dark(#5E503F, #292929);
    display: flex;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border-bottom: 1px solid light-dark(#ddd, #292929);
}

h1 {
    margin: 0;
    margin-right: auto;
}

#button {
    display: flex;
    gap: 10px;
}